@tailwind base;
@tailwind components;
@tailwind utilities;

.txtcolor {
  color: rgb(16, 106, 118);
  text-decoration: underline;
}
.cardImg {
  max-width: 500px;
}

.img3{
  height: 43rem;
  width: 400px;
}

.imd{
  height: 450px;
  width: 800px;
 background-color: #bdbdbd;
 padding: 20px;
 border-radius:10px;
}

@media screen and (max-width: 600px) {
  .img3{
    height: 33rem;
    width: 320px;
  }
  .img4{
    width: 320px;
  }
  .evecard {
    flex-direction: column;
    padding: 2px;
    height: 38rem;
    width: 5rem;
  }

  .eveimg {
    max-width: fit-content;
  }
  .heading {
    font-size: 15px;
    margin-left: 10px;
    color: #fff;
  }
}

.logobg {
  background-color: rgba(248, 255, 254, 0.76);
}
.floatdiv {
  border-radius: 40%;
  transition: transform 10s ease;
  cursor: pointer;
}

.floatdiv :hover {
  transform: translateX(-10px) translateY(-20px);
}

.txt {
  color: white;
}
.navBg {
  background: rgb(0, 61, 124);
  background: radial-gradient(
    circle,
    rgba(0, 61, 124, 1) 4%,
    rgba(36, 82, 131, 1) 35%,
    rgba(4, 46, 92, 1) 52%,
    rgba(19, 41, 45, 1) 98%
  );
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.info {
  padding: 20px;
}
.cen{
  display: flex;
  justify-content: center;
  align-self: center;
}
.fontf{
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.fontt{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
li{
  margin: 1rem;
  margin-left: 1.5rem;
}
.info h2 {
  margin: 0;
  font-size: 1.2em;
}

.info p {
  margin: 5px 0 0;
  font-size: 1em;
  color: #666;
}

.fonta{

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 3rem;
  font-style: normal;

}

.btn1 {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  margin: 10px;
  padding: 12px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn1:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.heading {
  font-size: 70px;
  margin-left: 10px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .evecard {
    flex-direction: column;
    padding: 2px;
    height: 38rem;
    width: 5rem;
  }
  .wf {
    width: 80vw;
  }
  .eveimg {
    max-width: fit-content;
  }
  .heading {
    font-size: 30px;
    margin-left: 30px;
    margin-top: 30px;
    color: #fff;
  }
  .btn1 {
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.bluebg {
  background-image: url("../src/assets/events/bluebg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
